<h1>User Registration</h1>
<%= form_for @user, html: {class: "cool-guy", id: "user-form"} do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit %>
<% end %>